/* Header Layout */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.7s ease-in-out;
  padding-block: 10px;

}

.header.scrolled {
  background-color: #3d1e3d;
  /* Koyu mor arka plan */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header-content {
  max-width: 7xl;
  margin: auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.top-accent-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.line {
  height: 1px;
  flex-grow: 1;
  background: linear-gradient(to right, transparent, #d4af37, transparent);
  opacity: 0.5;
}

.icons {
  padding: 0 16px;
  display: flex;
  gap: 16px;
  color: #d4af37;
}

.title-container {
  text-align: center;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #d4af37;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-title:hover {
  color: #fbc4d3;
}

.header-subtitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  color: #fbc4d3;
  letter-spacing: 0.5em;
  opacity: 0.8;
  margin-top: 8px;
  text-transform: uppercase;
}

.nav-desktop {
  display: none;
  margin-top: 8px;
}

.nav-item {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  color: #fbc4d3;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 0.25rem 0;
}

.nav-item:hover {
  color: #d4af37;
}

.nav-item .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #d4af37;
  transition: width 0.4s ease;
}

.nav-item:hover .underline {
  width: 100%;
}

/* Menü Butonu */
.menu-button {
  display: block;
  position: absolute;
  right: 10px;
  top: 19%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #d4af37;
  z-index: 2;
}

/* Mobil Menü Overlay */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 45, 94, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.mobile-menu-overlay.open {
  transform: translateX(0);
}

.mobile-menu-content {
  text-align: center;
  padding: 24px;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.icon-large {
  color: #d4af37;
  margin-bottom: 16px;
}

.mobile-nav-item {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #fbc4d3;
  text-decoration: none;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.mobile-nav-item:hover {
  color: #d4af37;
}

.footer {
  margin-top: 32px;
  border-top: 1px solid rgba(212, 175, 55, 0.3);
  padding-top: 24px;
}

.footer-text {
  font-family: 'Bebas Neue', sans-serif;
  color: #d4af37;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Mobil için */
@media (width>=768px) {
  .nav-desktop {
    display: flex;
    gap: 6px;
    padding-inline: 10px;
  }

  .header-title {
    font-size: 1.5rem;
  }

  .menu-button {
    display: none;
  }
}

/* Desktop için */
@media (width>=1280px) {
  .header-title {
    font-size: 3rem;
    /* Desktop başlık */
  }

  .nav-desktop {
    display: flex;
    gap: 32px;
    margin-top: 8px;
  }

  .menu-button {
    display: none;
    /* Menü butonu sadece mobilde */
  }
}